html {
    background-image: url("../assets/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.body-container {
    display: flex;
    margin: 0 5rem;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(177, 109, 194, 0.9);
    border-radius: 0 8px 8px 8px;
    padding: 3rem;
    margin: 1rem;
    transition: 0.3s;

}

.text {
    place-self: flex-start;
    color: #fff;
    text-shadow: 0.5rem 0.5rem 0.8rem #000;
    text-decoration: none;
    font-size: 1.5rem;
}

.container:hover {
    transform: scale(1.03);
}
